@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

@theme {
  --color-background: #f9fafb;
  --color-card: #ffffff;
  --color-border: #e5e7eb;
  --color-input: #d1d5db;
  --color-foreground: #111827;
  --color-muted-foreground: #6b7280;
  --color-primary: #2563eb; /* Tailwind blue-600 */
  --color-primary-foreground: #ffffff;
  --color-muted: #f3f4f6;
}
